# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

Aperture/
AudioFX/
BasicSmsReceiver/
Camera2/
Car/
CarrierConfig/
CellBroadcastReceiver/
CertInstaller/
Contacts/
DeskClock/
Dialer/
DocumentsUI/
Eleven/
EmergencyInfo/
Etar/
FMRadio/
FaceUnlockService/
Gallery2/
GameSpace/
/HTMLViewer/
/ImsServiceEntitlement/
/KeyChain/
/Launcher3/
/ManagedProvisioning/
/Messaging/
/Music/
/MusicFX/
/Nfc/
/OnDeviceAppPrediction/
/OneTimeInitializer/
/PhoneCommon/
/Provision/
/QuickAccessWallet/
/Recorder/
/RemoteProvisioner/
/RepainterService/
/SampleLocationAttribution/
/SecureElement/
/Settings/
/SettingsIntelligence/
/SimpleDeviceConfig/
/Stk/
/StorageManager/
/SystemUIGo/
/TV/
/Tag/
/ThemePicker/
/TimeZoneData/
/TimeZoneUpdater/
/TouchGestures/
/Traceur/
/TvSettings/
/UniversalMediaPlayer/
/Updater/
/Via/
/WallpaperPicker2/

